h1 {
  font-family: Verdana, sans-serif;
  color: #C71585;
}

h2 {
  font-family: Verdana, sans-serif;
  color: #FF4500;
}

p {
  font-family: Arial, sans-serif;
  color: #8B0000;
}

img {
  height: 275px;
  width: 375px;
}

body { 
  background-color: blue;
}
